{% set title = "A11y playground" %}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="layout-container">
  <nav class="layout-content layout-content--nav">
    <ul class="box-nav">
      <li>
        <a href="input-fields.html">Input fields and labels</a>
      </li>
      <li>
        <a href="/images.html">Images</a>
      </li>
      <li>
        <a href="/tab-order.html">Tab order</a>
      </li>
      <li>
        <a href="/progress-bar.html">Progress bar</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
