{% set title = "Tab order" %}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col grid-col--two-thirds">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
  
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col grid-col--two-thirds">
        <div class="form-example">
          <form>
            <fieldset>
              <legend><h2>Personal details</h2></legend>
                <div class="form-group">
                  <input type="text" name="first-name" id="first-name" tabindex="2">
                  <label for="first-name">First name</label>
                </div>

                <div class="form-group">
                  <input type="text" name="last-name" id="last-name" tabindex="4">
                  <label for="last-name">Last name</label>
                </div>

                <div class="form-group">
                  <input type="text" name="phone-number" id="phone-number" tabindex="1">
                  <label for="phone-number">Phone number</label>
                </div>

                <div class="form-group">
                  <input type="text" name="occupation" id="occupation" tabindex="3">
                  <label for="occupation">Occupation</label>
                </div>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="grid-col grid-col--two-thirds">
        <div class="form-example">
          <fieldset>
            <legend><h2>Personal details *</h2></legend>
              <div class="form-group">
                <input type="text" name="first-name-2" id="first-name-2" tabindex="5">
                <label for="first-name-2">First name</label>
              </div>

              <div class="form-group">
                <input type="text" name="last-name-2" id="last-name-2" tabindex="6">
                <label for="last-name-2">Last name</label>
              </div>

              <div class="form-group">
                <input type="text" name="phone-number-2" id="phone-number-2" tabindex="7">
                <label for="phone-number-2">Phone number</label>
              </div>

              <div class="form-group">
                <input type="text" name="occupation-2" id="occupation-2" tabindex="8">
                <label for="occupation-2">Occupation</label>
              </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="grid-col grid-col--two-thirds">
        <p>* Tab order is all over the place</p>
      </div>
    </div>
  </div>
{% endblock %}
